.home_container {
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, yellowgreen, lightblue);
}
.home_box {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.img_container {
  width: 50%;
}
.img_box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 5vw;
  background: linear-gradient(140deg, #1c749c, rgb(128, 128, 128));
  background-clip: text;
  color: transparent;
}
.img_box img {
  width: 100%;
  max-width: 100px;
}
.welcome_container {
  width: 50%;
}
.welcome_box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 5vw;
}
.color {
  color: black;
}
/* react hooks css**/
.ul_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* react hooks css end **/
pre {
  font-size: 20px;
}
.App-page {
  width: 100%;
  padding: 10px 20px;
}
.active {
  color: red;
}
tr {
  border: 1px solid red;
}
td {
  border: 1px solid blue;
  text-align: center;
}
